--extra-index-url https://download.pytorch.org/whl/cu126
torch==2.8.0+cu126
soundfile
git+https://github.com/DEVAIEXP/nanovllm-voxcpm.git@local-seed

gradio
python-dotenv
hf_xet
# These wheels are pinned to Python 3.10 to avoid local native builds.
flash-attn @ https://huggingface.co/DEVAIEXP/wheels/resolve/main/flash_attn-2.8.2-cp310-cp310-win_amd64.whl ; sys_platform == 'win32'
flash-attn @ https://huggingface.co/DEVAIEXP/wheels/resolve/main/flash_attn-2.8.2-cp310-cp310-linux_x86_64.whl ; sys_platform == 'linux'
